# Python artifacts
__pycache__/
*.py[cod]

# Environment variables (contains secret credentials!)
.env

# Upload temp files
uploads/

# Logs
*.log
test_output.json
.vscode
test_scraper.py
debug_parsed_data.json